<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ae2ae161-ee45-43e3-9bc0-ae630ea277c2" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ae2ae161-ee45-43e3-9bc0-ae630ea277c2fileName">TestSuite-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
