<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ac977c6f-96a4-489f-ac8a-57f68c23622a" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ac977c6f-96a4-489f-ac8a-57f68c23622afileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>TestSuite Property</con:name>
      <con:value>TestSuite Value</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
